<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PoolStore</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <!-- aqui borramos el [state]="{products}" por que lo manejamos en su componente list-productss-->
            <a 
            [routerLink]="['/list-products']"
            class="nav-link active"
            aria-current="page" >Products</a>
          </li>
          <li class="nav-item">
            <!-- [routerLink] para mapear a la ruta-->
            <!-- [state] atributo para compartir estado "informacion" entre las rutas-->
            <!-- aqui los cartItems se lo pasamos al shoppingCart con [state] -->
            <!-- se puede omitir el escribir 2 veces el nombre pero lo dejamos de muestra -->
            <!-- cuando en state tiene el mismo nombre se puede colocar una sola vez, de las 2 maneras-->
            <a 
            [routerLink]="['/shopping-cart']"
            [state]="{
              cartItems,
              total: total
            }"
            class="nav-link"
            role="button">cart ({{ cartItems.length }})</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
